{% extends 'base.html.twig' %}

{% block title %}Gestion des Sites{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2>Liste des sites</h2>
        {{ form_start(form) }}

        {{ form_end(form) }}

        {{ form_start(formSite) }}

        {{ form_errors(formSite) }}

        {{ form_end(formSite) }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for index, site in sites %}

                <tr>
                    <td>
                        <form method="post" action="{{ path('app_update_site', {'id' : site.id, 'mode' : 'update'}) }}" onsubmit="return confirm('vous validez ?')">
                            <input type="text" id="nom-{{ index }}" name="nom" disabled value="{{ site.nom }}">
                            <td>
                                <a href="{{ path('app_update_site', {'id' : site.id }) }}" onclick="activerEnregistrer(this, {{ index }}); return false;" class="btn btn-primary" >Modifier</a>
                                <input type="hidden" name="_token" value="{{ csrf_token('update' ~ site.id) }}">
                                <button class="btn btn-success" type="submit" id="ajouter-{{ index }}" disabled >Enregistrer</button>
                            </td>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ path('app_delete_site', {'id': site.id}) }}" onsubmit="return confirm('Etes-vous sûr ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site.id) }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function activerEnregistrer(link, index) {
            var row = link.closest('tr'); // Utilisez closest pour remonter à l'élément tr parent
            var inputNom = row.querySelector('#nom-' + index);
            var lienEnregistrer = row.querySelector('#ajouter-' + index);

            inputNom.disabled = false;
            lienEnregistrer.disabled = false;
        }
    </script>

{% endblock %}
