{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mx-auto">
                    <div class="card-body text-center">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">Identifiants incorrects. Veuillez réessayer.</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-check form-switch flex-wrap align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="remember_me">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Se souvenir de moi</label>
                                <a href="{{ path('app_forgot_password_request') }}" class="d-block mt-2">Mot de passe oublié</a>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-6 mb-2">
                                    <a href="{{ path('app_register') }}" class="btn btn-lg btn-success w-100">S'enregistrer</a>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <button class="btn btn-lg btn-primary w-100" type="submit">Connexion</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
