{% extends 'base.html.twig' %}

{% block title %}
    {% if isEditMode %}
        Modification
    {% elseif is_granted('ROLE_ADMIN') %}
        Ajout d'un utilisateur
    {% else %}
        Inscription
    {% endif %}
{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mx-auto">
                <div class="card-body text-center">



        {% if isEditMode %}
            <h1>Modifier mon profil</h1>
            <img src="{{ asset(path ~ participant.photo) }}" alt="photo de profil">
        {% elseif is_granted('ROLE_ADMIN') %}
            <h1>Ajout d'un utilisateur</h1>
            <img src="{{ asset(('img/profil.png')) }}" alt="photo de profil">
        {% else %}
            <h1>Inscription</h1>
            <img src="{{ asset(('img/profil.png')) }}" alt="photo de profil">
        {% endif %}


        {{ form_start(registrationForm) }}

        {{ form_label(registrationForm.pseudo) }}
        {{ form_widget(registrationForm.pseudo) }}
        {{ form_errors(registrationForm.pseudo) }}

        {{ form_label(registrationForm.prenom) }}
        {{ form_widget(registrationForm.prenom) }}
        {{ form_errors(registrationForm.prenom) }}

        {{ form_label(registrationForm.nom) }}
        {{ form_widget(registrationForm.nom) }}
        {{ form_errors(registrationForm.nom) }}

        {{ form_label(registrationForm.telephone) }}
        {{ form_widget(registrationForm.telephone) }}
        {{ form_errors(registrationForm.telephone) }}

        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}

        {{ form_row(registrationForm.password) }}

        {{ form_label(registrationForm.sites) }}
        {{ form_widget(registrationForm.sites) }}
        {{ form_errors(registrationForm.sites) }}

        {{ form_label(registrationForm.photo) }}
        {{ form_widget(registrationForm.photo) }}
        {{ form_errors(registrationForm.photo) }}

        <br>
        {{ form_label (registrationForm.submit) }}
        {{ form_widget(registrationForm.submit) }}

        {% if isEditMode %}
            <a href="{{ path('app_profil_detail',{'id': participant.id}) }}">
                <button>Annuler</button>
            </a>
        {% else %}
            <a href="{{ path('app_home') }}">
                <button>Annuler</button>
            </a>
        {% endif %}

        {{ form_end(registrationForm) }}

    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
