{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="align-items-end text-end p-3">
        <h6>Date du jour : {{ "now"|date('d/m/Y') }}</h6>
        {% if userConnected is not null %}
            <h6>Participant : {{ userConnected.prenom }} {{ userConnected.nom|first }}.</h6>
        {% endif %}
    </div>

    <div class="card p-3 m-5">
        <div class="container">
            <h6 class="m-3">Filtrer les sorties</h6>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.site) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.firstDate) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.secondDate) }}
                    {{ form_row(form.moiQuiOrganise) }}
                    {{ form_row(form.moiInscrit) }}
                    {{ form_row(form.moiPasInscrit) }}
                    {{ form_row(form.sortiesPassees) }}
                </div>
            </div>
            {{ form_end(form) }}
            <a type="button" href="{{ path('app_sortie_all') }}">Retirer les filtres</a>
        </div>
    </div>

    <div class="card p-3 m-5">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>État</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                        <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                        <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td></td>
                        <td>
                            <a href="{{ path('app_profil_detail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first }}
                                .</a>
                        </td>
                        <td>
                            {% if sortie.etat.libelle == 'Passée' or sortie.etat.libelle == 'Créée' or sortie.etat.libelle == 'Ouverte' %}
                                <a type="button" class="btn btn-secondary me-1"
                                   href="{{ path('app_sortie_details', {'id': sortie.id}) }}">Afficher</a>

                            {% elseif sortie.etat.libelle == 'Créée' %}
                                <a type="button" class="btn btn-secondary me-1" id="modifier"
                                   href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                                <a type="button" class="btn btn-secondary me-1" id="modifier"
                                   href="{{ path('app_sortie_publier', {'id': sortie.id}) }}">Publier</a>
                            {% elseif sortie.etat.libelle == 'Ouverte' %}
                                <a type="button" class="btn btn-secondary me-1" id="modifier"
                                   href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                            {% endif %}


                            {% set userParticipates = false %}

                            {% for participant in sortie.participants %}
                                {% if participant.id == userConnected.id %}
                                    {% set userParticipates = true %}
                                {% endif %}
                            {% endfor %}

                            {% if sortie.etat.libelle == 'Ouverte' %}
                                {% if userParticipates %}
                                    <a type="button" class="btn btn-secondary me-1" href="{{ path('app_sortie_desistement', {'id': sortie.id}) }}">Se désister</a>
                                {% else %}
                                    <a type="button" class="btn btn-secondary me-1" href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}


                            {% if sortie.etat.libelle == 'Créée' or sortie.etat.libelle == 'Ouverte' %}
                                <a type="button" class="btn btn-danger me-1" href="">Annuler</a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#    <script> #}
    {#        document.addEventListener('DOMContentLoaded', function () { #}
    {#            const inscriptionButtons = document.querySelectorAll('.btn-inscription'); #}
    {#            const desinscriptionButtons = document.querySelectorAll('.btn-desinscription'); #}

    {#            inscriptionButtons.forEach(button => { #}
    {#                button.addEventListener('click', function () { #}

    {#                    if (desinscriptionButtons) { #}
    {#                        desinscriptionButtons.style.display = 'inline-block '; #}
    {#                        inscriptionButtons.style.display = 'none' #}
    {#                    }else #}
    {#                }); #}
    {#            }); #}

    {#        //     desinscriptionButtons.forEach(desinscriptionButton => { #}
    {#        //         desinscriptionButton.addEventListener('click', function () { #}
    {#        //             desinscriptionButton.style.display = 'none'; #}
    {#        //             const inscriptionButton = document.querySelector(`[data-id="${desinscriptionButton.dataset.id}"]`); #}
    {#        //             if (inscriptionButton) { #}
    {#        //                 inscriptionButton.style.display = 'inline-block'; #}
    {#        //             } #}
    {#        //         }); #}
    {#        //     }); #}
    {#        }); #}
    {#    </script> #}



{% endblock %}

