{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mx-auto">
                <div class="card-body text-center">
                    <h1>Sortie</h1>
                </div>

                {% if sortie.etat.libelle == 'Annulée' and sortie.cancelMotif != null %}
                    <div>
                        <h4>⚠ Activité annulée ⚠</h4>
                        <h5>Motif :</h5>
                        <p>{{ sortie.cancelMotif }}</p>
                    </div>
                {% endif %}

                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nom de la sortie</th>
                            <td>{{ sortie.nom }}</td>
                        </tr>
                        <tr>
                            <th>Date et heure de l'activité</th>
                            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date limite d'inscription</th>
                            <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Durée de l'activité</th>
                            <td>{{ sortie.duree }} minutes</td>
                        </tr>
                        <tr>
                            <th>Nombre de places</th>
                            <td>{{ sortie.nbInscriptionsMax }}</td>
                        </tr>
                        <tr>
                            <th>Description et infos</th>
                            <td>{{ sortie.infosSortie }}</td>
                        </tr>
                        <tr>
                            <th>Ville organisatrice</th>
                            <td>{{ sortie.site.nom }}</td>
                        </tr>
                        <tr>
                            <th>Lieu</th>
                            <td>{{ sortie.lieu.nom }}</td>
                        </tr>
                        <tr>
                            <th>Rue</th>
                            <td>{{ sortie.lieu.rue }}</td>
                        </tr>
                        <tr>
                            <th>Code postal</th>
                            <td>{{ sortie.lieu.ville.codePostal }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ sortie.lieu.ville.nom }}</td>
                        </tr>

                        </tbody>
                    </table>

                <h6>Liste des participants : </h6>

                    <table>
                        <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th>Nom</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant in sortie.participants %}
                                <tr>
                                    <td>{{ participant.pseudo }}</td>
                                    <td>{{ participant.nom }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <div class="text-center mt-3">
                    <a href="{{ path('app_sortie_all') }}" class="btn btn-primary">Retour</a>

                    {% if sortie.organisateur == app.user or is_granted('ROLE_ADMIN')%}
                        {% if sortie.etat.libelle == 'Créée' or sortie.etat.libelle == 'Ouverte' %}
                            <a href="{{ path('app_sortie_edit', {'id':sortie.id}) }}" class="btn btn-secondary">Modifier</a>
                            <a class="btn btn-danger">{{ include('sortie/_delete_form.html.twig') }}</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
