{% extends 'base.html.twig' %}

{% block title %}Annulation sortie{% endblock %}

{% block body %}
    <h1 class="mb-3 text-center categorie">Motif d'annulation de la sortie {{ sortie.nom }}</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="fondProfil">
                    <div class="card-body text-center">

                    {{ form_start(form) }}
                        {{ form_label(form.motif) }}
                        <div>
                            <i class="fc1">Attention ce motif sera publié et envoyé aux inscrits</i>
                        </div>
                        {{ form_widget(form.motif) }}
                    {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}