{% extends 'base.html.twig' %}

{% block title %}Gestion des Villes{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2 class="mb-3 text-center categorie">Liste des villes</h2>
        {{ form_start(form) }}

{#        {{ form_label(form) }}#}


        {{ form_end(form) }}

        {{ form_start(formVille) }}

        {{ form_errors(formVille) }}


        {{ form_end(formVille) }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for index, ville in villes %}
                <tr>
                    <td>
                        <form method="post" action="{{ path('app_update_ville', {'id' : ville.id, 'mode' : 'update'}) }}" onsubmit="return confirm('vous validez ?')">
                            <input class="inputVilles" type="text" id="nom-{{ index }}" name="nom" disabled value="{{ ville.nom }}">
                    </td>
                    <td>
                        <input class="inputVilles" type="text" id="codePostal-{{ index }}" name="codePostal" disabled value="{{ ville.codePostal }}">
                    </td>
                    <td>
                        <button type="button" class="custom-btn-mod" onclick="activerEnregistrer(this, {{ index }}); return false;">Modifier</button>
                        <button type="submit" class="custom-btn" id="ajouter-{{ index }}" disabled>Enregistrer</button>
                        <form method="post" action="{{ path('app_delete_ville', {'id': ville.id}) }}" onsubmit="return confirm('Etes-vous sûr ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
                            <button type="submit" class="custom-btn-an">Supprimer</button>
                        </form>
                        </form>
                    </td>
                </tr>
                </form>
            {% endfor %}
            </tbody>
        </table>


    </div>

    <script>
        function activerEnregistrer(link, index) {
            let row = link.closest('tr'); // Utilisez closest pour remonter à l'élément tr parent
            let inputNom = row.querySelector('#nom-' + index);
            let inputCodePostal = row.querySelector('#codePostal-' + index);
            let lienEnregistrer = row.querySelector('#ajouter-' + index);

            inputNom.disabled = false;
            inputCodePostal.disabled = false;
            lienEnregistrer.disabled = false;
        }
    </script>

{% endblock %}
