<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/biere.jpg') }}">
    {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}"> {{ message }} </div>
    {% endfor %}
{% endfor %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ asset('img/logo.png') }}" alt="logo" style="width: 3%" >
    <a class="navbar-brand" href="{{ path('app_home') }}">Sortir.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_ville_home')}}">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_site_home')}}">Sites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_liste_utilisateurs')}}">Listes des utilisateurs</a>
                </li>

            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home') }}">Accueil <span class="sr-only"></span></a>
            </li>
            {% if is_granted('IS_AUTHENTICATED') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profil_detail',{'id': app.user.id}) }}">Mon profil</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_sortie_all') }}">Liste des sorties <span
                                class="sr-only"></span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_sortie_new') }}">Organiser un nouvelle sortie <span
                                class="sr-only"></span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                {% endif %}
            </ul>

        </div>
</nav>


{% block body %}
    <h1>Projet Sortir</h1>
{% endblock %}

    </body>
</html>
